body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffbe6;
  color: #333;
}

header {
  background: #000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #f7a000;
  color: #fff;
}

.btn {
  background: #000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}
